
{{#if produtoRemovido}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Produto removido com sucesso.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

<div class="row">
  <div class="col-6"><h1>Produtos</h1></div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/addproduto" type="button" class="btn btn-outline-dark align-self-center">+ Adicionar um novo produto</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço [R$]</th>
      <th scope="col" class="text-end">Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.nome}}</th>
      <td>{{this.preco}}</th>
      <td class="text-end">
        <a href="/viewproduto/{{this.id}}" type="button" class="btn btn-light btn-small btn btn-outline-warning"><i class="bi bi-eye"></i> Detalhes</a>
        <a href="/editproduto/{{this.id}}" type="button" class="btn btn-light btn-small btn-outline-info"><i class="bi bi-pencil"></i> Editar</a>
        <a href="/{{this.id}}" type="button" class="btn btn-outline-danger btn-small"><i class="bi bi-trash3"></i> Excluir</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>