<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" ><a href="/" style="color: black">Lista de Produtos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes do Produto</li>
  </ol>
</nav>

<div class="view-produto p-5">
  {{#each rows}}
    <div class="row mb-5">
      <div class="col text-center">
        <h3>{{this.nome}} - R$ {{this.preco}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col">Cadastrado</th>
              <th scope="col">Situação</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{this.nome}}</th>
              <td>{{this.preco}}</td>
              <td>Bigas</td>
              <td>{{this.situacao}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col">
          <b>Detalhes</b>
        </div>
      </div>
      <div class="row">
        <div class="col">
          {{this.descricao}}
        </div>
      </div>
    </div>
  {{/each}}
</div>